@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

.container {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  
  .homeImage {
    position: absolute;
    margin-top: 80px;
    right: 57%;
    z-index: 1;
    height: 112%;
  }
  
  .textContainer {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-20%, -50%);
    width: 50%;
    max-width: 800px;
    padding: 50px;
    font-family: 'Sofia Sans';
    font-size: 22px;
    line-height: 1.5;
    color: #000000;
  }

  .textContainer p {
    margin-bottom: 30px;
    font-weight: bold;
  }